header {
	display: flex;
	justify-content: space-between;
}

.message {
	padding: 8px;
	background-color: pink;
}

.message:empty {
	display: none;
}
 
.disabled-checkbox {
  opacity:1.0;
  pointer-events: none;
}